################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConnectionStringTest/obj
/ConnectionStringTest/bin
/ConnectionStringTest/ConnectionStringTest.csproj.user
/packages
/ConnectionStringTest.UnitTests/obj
/ConnectionStringTest.UnitTests/Bin
